h1 {
	color: #FEF2C9;
}

body {
	background-color: white;
	padding: 5px;
	min-width : 350px;
}

#roundedbg {
	background-color: #A8CFC8;
	padding: 15px;
	border-radius: 5px;
}

div {
	padding: 5px;
}

.btn {
	background-color: #81A39D;
	border-color: #A8CFC8;
	border-radius: 12px;
}

.btn:hover {
	background-color: #97BEB7;
	border-color: #A8CFC8;
}

input[type=text] {
	border: 2px solid rgba(0, 153, 255, 0.651);
	border-radius: 4px;
	width: 80%
  }

#resetLinks {
	background-color: #97BEB7;
	border-color: #97BEB7;
}

#resetLinks:hover {
	background-color: #81A39D;
	border-color: #97BEB7;
}