h1 {
	color: #FEF2C9;
}

body {
	background-color: white;
	padding: 5px;
	min-width : 350px;
	/* min-height: 400px !important; */
}

#roundedbg {
	background-color: #A8CFC8;
	padding: 15px;
	border-radius: 5px;
}

div {
	padding: 5px;
}

.btn {
	background-color: #81A39D;
	border-color: #A8CFC8;
	border-radius: 12px;
	margin-bottom: 5px;
}

.btn:hover {
	background-color: #97BEB7;
	border-color: #A8CFC8;
}

input[type=text] {
	border: 2px solid rgba(0, 153, 255, 0.651);
	border-radius: 4px;
	width: 80%
  }

#resetLinks {
	background-color: #97BEB7;
	border-color: #97BEB7;
}

#resetLinks:hover {
	background-color: #81A39D;
	border-color: #97BEB7;
}

/* .tab {
	overflow: hidden;
	border-color: #97BEB7;
	border-radius: 5px;
}

.tab button {
	background-color: inherit;
	float: left;
	border: 0.5;
	border-color: #81A39D;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	padding: 5px;
	transition: 0.5s;
}

.tab button:hover {
  background-color: #FEF2C9;
}
  
.tab button.active {
  background-color: #FEF2C9;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  } */